<header id="menu" class="text-gray-700 spanody-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="md:ml-auto flex flex-wrap items-center text-spanase justify-center">
        <a href="#home">
            01. home
        </a>
        <a href="#aboutme">
            02. aboutMe
        </a>
        <a href="#skills">
            03. skills
        </a>
        <a href="#projects">
            04. projects
        </a>
        <a href="#talks">
            05. talks
        </a>
        <a href="#contact">
            06. contact
        </a>
      </nav>
    </div>
  </header>