<div class="grid text-center">
    <div class="slide active" data-anchor="one">
        <h4>Talks</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="h-3/4 w-3/4 md:h-1/4 md:w-1/4">
                <img class="object-center rounded" src="../../assets/talk1.jfif" style="background-color: #ffffff;" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    Programing in Misiones
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Spanish</div>
                    </div>
                </div>
                <p class="mb-4leading-relaxed leading-relaxed">
                    08/19/2020  - Silicon Misiones webinar
                </p>
              <p class="mb-4leading-relaxed leading-relaxed">
                "Programing in Misiones"
              </p>
              <div class="flex flex-row">
                <a href="https://www.youtube.com/watch?v=tabBLNTPInQ">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faYoutube"></fa-icon>             
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide active" data-anchor="two">
        <h4>Talks</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="h-3/4 w-3/4 md:h-1/4 md:w-1/4">
                <img class="object-center rounded" src="../../assets/talk2.jfif" style="background-color: #fed53f;" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    Telling stories with data
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Spanish</div>
                    </div>
                </div>
                <p class="mb-4leading-relaxed leading-relaxed">
                    12/17/2020 - BeerJS Córdoba talks
                </p>
              <p class="mb-4leading-relaxed leading-relaxed">
                "Data Storytelling introduction with Javascript"
              </p>
              <div class="flex flex-row">
                <a href="https://youtu.be/EiVuLos1cyk?t=3948">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faYoutube"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide active" data-anchor="three">
        <h4>Talks</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="h-3/4 w-3/4 md:h-1/4 md:w-1/4">
                <img class="object-center rounded" src="../../assets/talk3.jfif" style="background-color: #124757;"/>
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    Scraping introduction
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Spanish</div>
                    </div>
                </div>
                <p class="mb-4leading-relaxed leading-relaxed">
                    29/12/2020 - DevTeam504 Community talks
                </p>
              <p class="mb-4leading-relaxed leading-relaxed">
                "Scraping introduction"
              </p>
              <div class="flex flex-row">
                <a href="https://www.youtube.com/watch?v=L8o-8HHmC9I">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faYoutube"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>