<div class="grid grid-cols-2 text-center content-center justify-center avcontainer">
    <div class="grid col-span-2 md:col-span-1 content-center justify-center">
        <div class="text text-left px-4">
            <h4>
                Nataya Soledad
            </h4>
            <h6>
                Full-stack developer
            </h6>
            <p>
                Hi there! I'm a developer based in Argentina.
                I <span class="yellow-highlighter">building</span>
                software, websites and mobile applications.<br/>
                I currently work as a <span class="purple-highlighter">software engineer</span>
                and I'm study hard to advance in my career every day!
            </p>
        </div>
    </div>
    <div class="grid col-span-2 md:col-span-1 md:col-start-2 avatar"></div>
</div>
<div class="md:px-16 credits">
    <h2>
        Illustration made by 
        <a href="https://www.instagram.com/mostrocartoon/">
            @mostrocartoon
        </a>
    </h2>
</div>