<div class="grid text-center content-center">
    <section class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-col px-5 py-24 justify-center items-center">
            <div class="w-full flex flex-col mb-16 items-center text-center">
                <a href="mailto:natayafs@gmail.com">
                    <h4>
                        Contact me
                        <fa-icon class="pl-2" style="font-size: var(--size-title);" [icon]="faPaperPlane"></fa-icon>
                    </h4>
                </a>
                <p>
                    You can find me on social networks and write to <br>
                    me, I will be happy to help you
                </p>
                <div class="flex flex-row my-2">
                    <a href="https://github.com/natayafs">
                        <fa-icon class="pl-2" style="font-size: 2em;" [icon]="faGithub"></fa-icon>
                    </a>
                    <a href="https://www.linkedin.com/in/natayafs/">
                        <fa-icon class="pl-2" style="font-size: 2em;" [icon]="faLinkedin"></fa-icon>
                    </a>
                    <a href="https://dribbble.com/natayafs">
                        <fa-icon class="pl-2" style="font-size: 2em;" [icon]="faDribbble"></fa-icon>
                    </a>
                    <a href="https://dev.to/natayafs">
                        <fa-icon class="pl-2" style="font-size: 2em;" [icon]="faDev"></fa-icon>
                    </a>
                </div>
                <h6 class="pt-5">
                    Curriculum vitae:
                    <a href="https://www.linkedin.com/in/natayafs/?locale=es_ES">
                        🇪🇸 
                    </a>
                    <a href="https://www.linkedin.com/in/natayafs/?locale=en_US">
                        🇬🇧 
                    </a>
                </h6>
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>