<div class="grid text-center">
    <div class="slide active" data-anchor="portfolio">
        <h4>Projects</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="md:w-1/2">
                <img class="object-center rounded" src="https://avatars2.githubusercontent.com/u/59546935?s=460&u=9a9b84d1541a3ae7c30fcdbaebf3fdf8db50b87a&v=4"  />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    My portfolio
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                    </div>
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Angular</div>
                    </div>
                </div>
              <p class="mb-8 leading-relaxed leading-relaxed">
                You're here now! <br>
                Here I say <span class="yellow-highlighter">print("Hello World")</span> to everyone
            </p>
              <div class="flex flex-row">
                <a href="https://nataya.dev">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faExternalLinkAlt"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="pictomenu">
        <h4>Projects</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="md:w-1/2 md:h-1/2">
                <img class="object-center rounded" src="https://static.arasaac.org/images/aula-abierta.jpg" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    Pictomenú
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                    </div>
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">React</div>
                    </div>
                    <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">C#</div>
                    </div>
                    <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">.NET</div>
                    </div>
                </div>
              <p class="mb-8 leading-relaxed leading-relaxed">
                Menu generator with pictograms, adapted for customers with ASD
               </p>
               <div class="flex flex-row">
                <a href="https://github.com/natayafs/PictoMenu">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faGithubAlt"></fa-icon>
                </a>
                <a href="http://www.politicamisionera.com.ar/2020/08/30/jovenes-misioneros-desarrollaron-una-web-que-crea-menus-para-personas-autistas/">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faNewspaper"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="comit">
        <h4>Projects</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="md:w-1/2 md:h-1/2">
                <img class="object-center rounded" src="https://media-exp1.licdn.com/dms/image/C4D22AQFJkYlnufalUA/feedshare-shrink_1280-alternative/0/1603972825834?e=1609977600&v=beta&t=SkT6eerOJ8wD18r_1IDaCtMa_mBv9QONNqOEV5PVDeU" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    🌟 Misiones IT Community
                </h4>
              <p class="mb-8 leading-relaxed leading-relaxed">
                We have founded Misiones IT, a community of developers from Misiones, Argentina. We organize events and software volunteering!
              </p>
              <div class="flex flex-row">
                <a href="https://comit.ar">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faExternalLinkAlt"></fa-icon>
                </a>
                <a href="http://www.pagina16.com.ar/misiones-contara-con-la-primera-comunidad-de-desarrolladores-de-software-de-la-region/">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faNewspaper"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="socialmedia">
        <h4>Projects</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="md:w-1/2">
                <img class="object-center rounded" src="../../assets/avatar2.png" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    Social media repository
                </h4>
                <div class="flex flex-row">
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                    </div>
                    <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">VueJS</div>
                    </div>
                </div>
                <h2 class="text-center">
                    Illustration made by 
                    <a href="https://www.instagram.com/luaailustrada/">
                        @LuaaIlustrada
                    </a>
                </h2>
              <p class="mb-8 leading-relaxed leading-relaxed">
                    Personal Links Guide, published on Netlify
                </p>
              <div class="flex flex-row">
                <a href="https://natayafs-links.netlify.app/">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faExternalLinkAlt"></fa-icon>
                </a>
                <a href="https://github.com/natayafs/My-links">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faGithubAlt"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
    <div class="slide" data-anchor="dribbble">
        <h4>Projects</h4>
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
            <div class="md:w-1/2">
                <img class="object-center rounded" src="https://cdn.dribbble.com/users/4645906/screenshots/10839230/media/96b6c7e23dd023c31cfba269333d8e0c.png?compress=1&resize=800x600" />
            </div>
            <div class="lg:flex-grow md:w-1/2 lg:pl-4 md:pl-2 flex flex-col md:items-start md:text-left items-center text-center">
                <h4>
                    UI Challenges
                </h4>
                <div class="flex flex-row">
                    <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">UI-UX</div>
                    </div>
                    <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                        <div class="text-xs font-normal leading-none max-w-10 flex-initial">Figma</div>
                    </div>
                </div>
              <p class="mb-8 leading-relaxed leading-relaxed">
                I carry out the challenges proposed by the Daily UI Design Challenge and post them in my Dribbble portfolio
              </p>
              <div class="flex flex-row">
                <a href="https://www.dailyui.co/">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faExternalLinkAlt"></fa-icon>
                </a>
                <a href="https://dribbble.com/natayafs">
                    <fa-icon class="pl-1" style="font-size: 2em;" [icon]="faDribbble"></fa-icon>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>