<div class="items-center justify-items-center p-4 text-center">
  <h4>About me</h4>
  <div class="grid md:grid-cols-2 md-center-y gap-5 md:w-3/4 xs:w-auto">
    <div class="text-left">
      <p style="font-size: 2em">Hi! I'm Nata 👋</p>
      <p>
        I'm a <span class="yellow-highlighter">software developer</span> based
        in Argentina 🇦🇷.
      </p>
      <br />
      <p>
        I study health sciences since 2015, specifically biochemistry and
        pharmacy sciences. I'm interested in bioinformatics. But I modified my
        first computer program when I was thirteen years and I learned to make
        static web pages when I was fifteen years. I started studying
        programming more than three years ago with the goal of being hired in a
        company... and I made it!
      </p>
      <br />
      <p>
        Actually a I'm currently looking for new challenges. I'm a
        <span class="purple-highlighter">data scientist</span> student, I have
        done many certifications and projects that will be reflected in this
        portfolio.
      </p>
      <br />
      <p>
        Also, I study some languages ​​like German or Portuguese and I do
        volunteer work in my free time.
      </p>
    </div>
    <div class="grid grid-cols-4 p-6">
      <img src="https://img.icons8.com/color/50/000000/javascript--v1.png" />
      <img src="https://img.icons8.com/color/50/000000/typescript.png" />
      <img src="https://img.icons8.com/color/50/000000/nodejs.png" />
      <img src="https://img.icons8.com/color/50/000000/mongodb.png" />
      <img src="https://img.icons8.com/color/50/000000/vue-js.png" />
      <img src="https://img.icons8.com/color/50/000000/angularjs.png" />
      <img src="https://img.icons8.com/color/50/000000/react-native.png" />
      <img src="https://img.icons8.com/windows/50/000000/ember.png" />
      <img src="https://img.icons8.com/color/50/000000/c-sharp-logo.png" />
      <img src="https://img.icons8.com/color/50/000000/azure-1.png" />
      <img src="https://img.icons8.com/color/50/000000/power-bi.png" />
      <img src="https://img.icons8.com/color/50/000000/ms-excel.png" />
      <img
        src="https://img.icons8.com/color/50/000000/microsoft-sql-server.png"
      />
      <img src="https://img.icons8.com/color/50/000000/postgreesql.png" />
      <img src="https://img.icons8.com/color/50/000000/python--v1.png" />
      <img src="https://img.icons8.com/color/50/000000/tensorflow.png" />
      <img src="https://img.icons8.com/color/50/000000/docker.png" />
      <img
        src="https://img.icons8.com/color/50/000000/google-firebase-console.png"
      />
      <img src="https://img.icons8.com/color/50/000000/swift.png" />
      <img src="https://img.icons8.com/color/50/000000/git.png" />
    </div>
  </div>
</div>
