<div class="items-center justify-items-center p-4 text-center">
  <h4>Sobre mí</h4>
  <div class="grid md:grid-cols-2 md-center-y gap-5 md:w-3/4 xs:w-auto">
    <div class="text-left">
      <p style="font-size: 2em">¡Hola! Soy Nataya 👋</p>
      <p>
        Co-fundadora de Misiones IT | Colaboradora del RSG Argentina 
      </p>
      <br />
      <p>
        Trabajo como <span class="yellow-highlighter">  Ingeniera de Datos</span> 
        pero también tengo experiencia en el desarrollo de software e incursioné 
        un poco en el Diseño UI UX. Me desempeño esporádicamente como oradora en
        charlas y como profesora en algunas organizaciones.
      </p>
      <br />
      <p>
        También soy <span class="pink-highlighter">Estudiante Universitaria</span>,
        a punto de recibirme de Técnica  Universitaria en Tecnologías de la Información 
        y con el grado de Bioquímica en proceso. Me interesan la <span class="purple-highlighter">
        Bioinformática</span> y la inteligencia artificial.
      </p>
      <br />
      <p>
        
      </p>
    </div>
    <div class="credly">
      <a href="https://www.credly.com/users/natayadev/badges">
        <img
          src="https://images.credly.com/size/340x340/images/61542181-0e8d-496c-a17c-3d4bf590eda1/azure-data-engineer-associate-600x600.png"
          style="height: 180px;"/>
      </a>
    </div>
  </div>
</div>
