<div class="grid text-center content-center">
    <h4>Skills</h4>
    <div class="grid gap-4 grid-cols-2 text-left">
        <div class="grid col-span-2 md:col-span-1">
            <h6>Frontend</h6>
            <div class="flex .flex-row">
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">HTML/CSS</div>
                </div>
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">SCSS</div>
                </div>
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                </div>
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">EmberJS</div>
                </div>
            </div>
            <div class="flex .flex-row mb-2">
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">React</div>
                </div>
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Angular</div>
                </div>
                <div class="purple-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">VueJS</div>
                </div>
            </div>
            <h6>Backend</h6>
            <div class="flex .flex-row">
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">SQL</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">C#</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">.NET</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">MongoDB</div>
                </div>
            </div>
            <div class="flex .flex-row mb-2">
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Express</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Python</div>
                </div>
                <div class="pink-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Django</div>
                </div>
            </div>
        </div>
        <div class="grid col-span-2 md:col-span-1">
            <h6>Others</h6>
            <p>Design and prototyping tools</p>
            <div class="flex .flex-row pb-2">
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">UI-UX</div>
                </div>
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Figma</div>
                </div>
            </div>
            <p>Data analysis and artificial intelligence</p>
            <div class="flex .flex-row">
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Python</div>
                </div>
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Machine learning</div>
                </div>
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Deep learning</div>
                </div>
            </div>
            <p>Mobile</p>
            <div class="flex .flex-row">
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">Javascript</div>
                </div>
                <div class="yellow-chip flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-full text-gray-700 bg-gray-100 border border-gray-300">
                    <div class="text-xs font-normal leading-none max-w-10 flex-initial">React-native</div>
                </div>
            </div>
        </div>
    </div>
</div>