<div class="grid py-6 px-4 text-center content-center">
  <div class="links">
     <div class="footer">
      <a href="https://nataya.dev">
        <img src="../../assets/avatar1.png" class="avatar bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"/>
      </a>
      </div>
     <div class="footer">
      <a href="https://nataya.dev">
        <h4>NATAYA SOLEDAD</h4>
      </a>
     </div>
    <div class="link">
      <img src="../../assets/twitch.png" width="30px" class="mr-2">
      <a href="https://twitch.tv/natayafs">
        Twitch
      </a>
    </div>
    <div class="link">
      <img src="../../assets/youtube.png" width="30px" class="mr-2">
      <a href="https://www.youtube.com/channel/UCokwdY3QPKU-6ZxJCN_YMuA">
        Youtube
      </a>
    </div>
    <div class="link">
      <img src="../../assets/dev.png" width="30px" class="mr-2">
      <a href="https://dev.to/natayafs">
        Blog
      </a>
    </div>
      <div class="link">
        <img src="../../assets/linkedin.png" width="30px" class="mr-2">
        <a href="https://www.linkedin.com/in/natayafs/">
          Linkedin
        </a>
      </div>
      <div class="link">
        <img src="../../assets/mit.png" class="mr-3" width="26px">
        <a href="https://comit.ar/">
          Comunidad MIT
        </a>
      </div>
      <div class="link">
        <img src="../../assets/calendar.png" class="mr-3" width="26px">
        <a href="https://calendly.com/natayafs">
          Agendemos una mentoría
        </a>
      </div>
      <br/><h6>Invitame un cafecito</h6>
      <div class="link">
        <img src="../../assets/cafecito.svg" width="30px" class="mr-2">
        <a href="https://cafecito.app/natayafs#">
          Cafecito.app
        </a>
      </div>
      <div class="link">
        <img src="../../assets/coffee.png" width="25px" class="mr-3">
        <a href="https://www.buymeacoffee.com/natayafs">
          Buy Me A Coffee
        </a>
      </div>
      <br/><h6>Charlas y entrevistas</h6>
      <div class="link">
        <img src="../../assets/youtube.png" width="30px" class="mr-2">
        <a href="https://www.youtube.com/watch?v=4Ei8E0v_KBA">
          IA con responsabilidad - Shifta & MediaChicas
        </a>
      </div>
      <div class="link">
        <img src="../../assets/youtube.png" width="30px" class="mr-2">
        <a href="https://www.youtube.com/watch?v=tabBLNTPInQ">
          Webinar - Silicon Misiones
        </a>
      </div>
      <div class="link">
        <img src="../../assets/youtube.png" width="30px" class="mr-2">
        <a href="https://www.youtube.com/watch?v=L8o-8HHmC9I">
          Scraping - DevTeam504
        </a>
      </div>
      <div class="link">
        <img src="../../assets/youtube.png" width="30px" class="mr-2">
        <a href="https://www.youtube.com/watch?v=EiVuLos1cyk&t=3948s">
          Storytelling - BeerJS Córdoba
        </a>
      </div>
      <div class="link">
        <img src="../../assets/spotify.png" width="30px" class="mr-2">
        <a href="https://open.spotify.com/episode/3HX187LmqYG5Ua8TcQI1lm?si=2iYvvKVyQMuJuDzoRzdmlw">
          Bioinformática - #EnPixeles
        </a>
      </div>
      <div class="link">
        <img src="../../assets/spotify.png" width="30px" class="mr-2">
        <a href="https://open.spotify.com/episode/1JA988AUa8A3bjl2yQGLrW">
          Entrevista - Jonatan Ariste
        </a>
      </div>
      <div class="link">
        <img src="../../assets/micro.png" width="30px" class="mr-2">
        <a href="https://www.instagram.com/tv/CFiPGoRJA1s/">
          Entrevista - Radio Circus FM
        </a>
      </div>
      <div class="link">
        <img src="../../assets/micro.png" width="30px" class="mr-2">
        <a href="instagram.com/tv/CU5_cIhg6OK/">
          Charla IGTV - Nerdearla
        </a>
      </div>
      
    </div>
    <div class="footer">
        <a href="https://twitter.com/natayafs">
            <img src="../../assets/twitter.png" width="30px" class="mr-2">
        </a>
        <a href="https://instagram.com/natayafs">
            <img src="../../assets/instagram.png" width="30px" class="mr-2">
        </a>
    </div>
    <div class="footer">
            <h2>
            Illustration made by 
            <a href="https://www.instagram.com/mostrocartoon/" style="color: var(--text-color);">
                @mostrocartoon
            </a>
        </h2>
    </div>
</div>