<div class="grid py-6 px-4 text-center content-center">
  <div class="links">
    <div class="footer">
      <a href="https://nataya.dev">
        <img
          src="../../assets/avatar1.png"
          class="
            avatar
            bg-gray-100
            object-cover object-center
            flex-shrink-0
            rounded-full
            mr-4
          "
        />
      </a>
    </div>
    <div class="footer">
      <a href="https://nataya.dev">
        <h4>NATAYA SOLEDAD</h4>
      </a>
    </div>
    <div class="link">
      <img src="../../assets/mit.png" class="mr-3" width="26px" />
      <a href="https://www.eventbrite.com.ar/e/mitup-2022-misiones-it-tickets-443807378817"> Inscribite a la MITup 2022 </a>
    </div>
    <div class="link">
      <img src="../../assets/instagram.png" width="30px" class="mr-2" />
      <a href="https://instagram.com/natayadev"> Instagram </a>
    </div>
    <div class="link">
      <img src="../../assets/twitter.png" width="30px" class="mr-2" />
      <a href="https://twitter.com/natayadev"> Twitter </a>
    </div>
    <div class="link">
      <img src="../../assets/twitch.png" width="30px" class="mr-2" />
      <a href="https://twitch.tv/natayadev"> Twitch </a>
    </div>
    <div class="link">
      <img src="../../assets/youtube.png" width="30px" class="mr-2" />
      <a href="https://www.youtube.com/channel/UCokwdY3QPKU-6ZxJCN_YMuA">
        Youtube
      </a>
    </div>
    <div class="link">
      <img src="../../assets/dev.png" width="30px" class="mr-2" />
      <a href="https://dev.to/natayadev"> Blog </a>
    </div>
    <div class="link">
      <img src="../../assets/linkedin.png" width="30px" class="mr-2" />
      <a href="https://www.linkedin.com/in/natayadev/"> Linkedin </a>
    </div>
    <div class="link">
      <img src="../../assets/mit.png" class="mr-3" width="26px" />
      <a href="https://comit.ar/"> Comunidad MIT </a>
    </div>
    <div class="link">
      <img src="../../assets/calendar.png" class="mr-3" width="26px" />
      <a href="https://calendly.com/natayadev"> Agendemos una mentoría </a>
    </div>
    <br />
    <h6>Invitame un cafecito</h6>
    <div class="link">
      <img src="../../assets/cafecito.svg" width="30px" class="mr-2" />
      <a href="https://cafecito.app/natayafs"> Cafecito.app </a>
    </div>
    <div class="link">
      <img src="../../assets/coffee.png" width="25px" class="mr-3" />
      <a href="https://www.buymeacoffee.com/natayafs"> Buy Me A Coffee </a>
    </div>
    <br /><br /><br />
  </div>
</div>
