<div class="grid py-6 px-4 text-center content-center">
  <div class="links">
     <div class="footer">
        <img src="../../assets/avatar1.png" class="avatar bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"/>
     </div>
     <div class="footer">
        <h4>NATAYA SOLEDAD</h4>
     </div>
      <div class="link">
        <img src="../../favicon.ico" width="30px" class="mr-2">
        <a href="https://nataya.dev">
          Página web
        </a>
      </div>
      <div class="link">
        <img src="../../assets/linkedin.png" width="30px" class="mr-2">
        <a href="https://www.linkedin.com/in/natayafs/">
          Linkedin
        </a>
      </div>
      <div class="link">
        <img src="../../assets/mit.png" class="mr-3" width="26px">
        <a href="https://comit.ar/">
          Comunidad MIT
        </a>
      </div>
      <div class="link">
        <img src="../../assets/youtube.png" width="30px" class="mr-2">
        <a href="https://www.youtube.com/watch?v=tabBLNTPInQ">
          Webinar - Silicon Misiones
        </a>
      </div>
      <div class="link">
        <img src="../../assets/spotify.png" width="30px" class="mr-2">
        <a href="https://open.spotify.com/episode/1JA988AUa8A3bjl2yQGLrW">
          Entrevista - Jonatan Ariste
        </a>
      </div>
      <div class="link">
        <img src="../../assets/micro.png" width="30px" class="mr-2">
        <a href="https://www.instagram.com/tv/CFiPGoRJA1s/?utm_source=ig_web_copy_link">
          Entrevista - Radio Circus FM
        </a>
      </div>
    </div>
    <div class="footer">
        <a href="https://twitter.com/natayafs">
            <img src="../../assets/twitter.png" width="30px" class="mr-2">
        </a>
        <a href="https://instagram.com/natayafs">
            <img src="../../assets/instagram.png" width="30px" class="mr-2">
        </a>
        <a href="https://cafecito.app/natayafs">
            <img src="../../assets/cafecito.png" width="30px" class="mr-2">
        </a>
    </div>
    <div class="footer">
            <h2>
            Illustration made by 
            <a href="https://www.instagram.com/mostrocartoon/" style="color: var(--text-color);">
                @mostrocartoon
            </a>
        </h2>
    </div>
</div>